:root{
    --accent: #be5000;
    --main: #33333d;
}

html{
    height: 100%;
    /* background-image: linear-gradient(155deg, rgba(232,130,38,1) 0%, rgba(24,24,24,1) 100%);  */
    background-color: var(--main);
    color: var(--accent);
    font-family: Helvetica, sans-serif;
}

a{
    color: var(--accent); 
    text-decoration: none;
}

img {
    border-radius: 50%;
    width: 20%;
    height: auto;
}

body{
    padding:0 5% 0 5%
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        padding:0 25% 0 25%
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        padding:0 25% 0 25%
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        padding:0 25% 0 25%
    }
}