:root{
    --accent: #be5000;
    --main: #33333d;
    --ptxt: #fff;
}

html{
    height: 100%;
    /* background-image: linear-gradient(155deg, rgba(232,130,38,1) 0%, rgba(24,24,24,1) 100%);  */
    background-color: var(--main);
    color: var(--accent);
    font-family: Helvetica, sans-serif;
}

a{
    color: var(--accent); 
    text-decoration: none;
    font-family: Helvetica, sans-serif!important;
}

p{
    color: var(--ptxt); 
}

img {
    border-radius: 50%;
    width: 20%;
    height: auto;
}

body{
    padding:0 5% 0 5%
}

a.fa-file:hover {
    color: #aaf0d1;
}

a.fa-twitter:hover {
    color: #00aced;
}

a.fa-instagram:hover {
    color: #bc2a8d;
}

a.fa-github:hover {
    color: #6e5494;
}

a.fa-envelope:hover {
    color: #dd4b39;
}

.indent p{
    padding-left: 10px;
    color: var(--ptxt);
}

.indent a {
    padding-left: 10px;
    color: var(--ptxt);
}

form p{
    color: var(--accent);
}

form .submit {
    color: var(--ptxt);
    background-color: var(--accent);
    border: none;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        padding:0 25% 0 25%
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        padding:0 25% 0 25%
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        padding:0 25% 0 25%
    }
}